@{
    ViewData["Title"] = "Страница перенаправления";
}

<section class="s-content s-content--narrow">
    <div class="row narrow section-intro add-bottom text-center">
        <div class="col-twelve tab-full">
            <h1>Страница перенаправления</h1>
            <p class="lead">@ViewBag.RedirectMessage</p>
        </div>
    </div>
</section>