@model string

@{
    ViewData["Title"] = "Ошибка";
}

<section class="s-content">
    <div class="row">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Упс, проблема. Мы уже стараемся её решить!<br />
                @Model
            </h1>
        </div>
    </div>
</section>